.add-item {
  margin: 60px 25%;
}

.add-item .add-task{
  margin: 0 10%;
}

.add-item .add-task input{
  height: 38px;
  width: 85%;
  margin: 1.5% 5% 1.5% 0;
  border-radius: 5px;
}

.item-list{
  margin: 0 25%;
  border-bottom: black solid 1px;
}

.block-checkbox{
  height: 60px;
  border: black solid 1px;
  border-bottom: none;
}

#input{
  position: relative;
  top: 50%;
  left: 3%;
  transform: translateY(-80%);
}

#input:checked + .label{
  text-decoration: line-through;
}

.th-label{
  margin-left: 9%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.trash-icon{
  float: right;
  right: 2%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
